<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Examples for creative website header animations using Canvas and JavaScript" />
    <meta name="keywords" content="header, canvas, animated, creative, inspiration, javascript" />
    <meta name="author" content="Codrops" />
    <title>IIIT</title>
    <link rel="stylesheet" type="text/css" href="{% static 'leavemodule/css/new.css' %}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style media="screen">

      .btn{
        background-color: #aa00ff;
      }
      .btn:hover{
        background-color: #000000 ;
      }
      #nav_but{
        margin-left:85px;
      }
      #nav_but:hover{
        margin-left:85px;
        color: black;
        text-decoration: none;
      }


    </style>
    <script>
      $(document).ready(function() {
        $("#datepicker1").datepicker();
        $("#datepicker2").datepicker();
        $("#datepicker3").datepicker();
        $("#datepicker4").datepicker();
      });
    </script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper purple accent-4">
          {% if email %}
            <ul>
              <li><a href="#!" class="brand-logo left" style="margin-left:20px"><img src="{% static 'basic/logo.jpg' %}" style="height:65px;width:65px" alt=""></a></li>
              <li><a class="waves-effect waves-light" id="nav_but" href="/leave_module"><center>Leave Module</center></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <li><i class="material-icons md-48" style="margin-right:20px">perm_identity</i></li>
              <li><font style="margin-right:20px">{{email}}</font></li>
              <li><a class="waves-effect waves-light btn" href="/logout/" ><center>LogOut</center></a></li>
            </ul>
          {% else %}
            <ul class="right hide-on-med-and-down">
              <li><a class="waves-effect waves-light btn modal-trigger" href="#modal1" ><center>Login</center></a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </div>
    <div id="main" >
      <div class="container" style="padding-top:50  px">
        <div class="row">
          <div class="card col s8 ">
            <div class="row"style="padding:50px;padding-bottom:0px">
              <div class="left card-title">
                <b>Application</b>
              </div>
            </div>
            {% if messages %}
             <div style="margin-left:150px;width:1000px;border:1px black solid;border-radius:10px;margin-bottom:20px" >
              <div style="margin-left:100px;padding-top:20px;padding-bottom:20px">
                  {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}<strong></li>
                  {% endfor %}
              </div >
             </div>
              {% endif %}


            <form class="container" method="post" action="/leave_module/submit/">
                {% csrf_token %}
                <div class="col s12">
                    <!-- <div class="row"> -->
                      {% if cl is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p>
                          <input name="leaves" type="radio" id="test1" value="1" required/>
                          <label for="test1">Casual Leave</label>
                        </p>
                      </div>
                      {% endif %}
                      {% if rh is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p >
                          <input name="leaves" type="radio" id="test2" value="2" required/>
                          <label for="test2">Restricted Leave</label>
                        </p>
                      </div>
                      {% endif %}
                      {% if spc is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p>
                          <input name="leaves" type="radio" id="test3" value="3" required/>
                          <label for="test3">Special Casual Leave</label>
                        </p>
                      </div>
                      {% endif %}
                    <!-- </div> -->

                    <!-- <div class="row"> -->
                      {% if el is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p >
                          <input name="leaves" type="radio" id="test4" value="4" required />
                          <label for="test4">Earned Leave</label>
                        </p>
                      </div>
                      {% endif %}
                      {% if col is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p >
                          <input name="leaves" type="radio" id="test5" value="5"required/>
                          <label for="test5">Commuted Leaeve</label>
                        </p>
                      </div>
                      {% endif %}
                      {% if vl is not 0 %}
                      <div class="col s2" id="r1" style="display:block">
                        <p>
                          <input name="leaves" type="radio" id="test6" value="6"required/>
                          <label for="test6">Vacation Leave</label>
                        </p>
                      </div>
                      {% endif %}
                    <!-- </div> -->
                </div>
              <div class="col s6">
                <i class="material-icons col s1" style="padding-top:20px">date_range</i>
                <input class="col s10 offset-s1"type="text" name="leave_from" id="datepicker1" placeholder="Leave-From"required />
              </div>
              <div class="col s6">
                <i class="material-icons col s1" style="padding-top:20px">date_range</i>
                <input class="col s10 offset-s1"type="text" name="leave_till" id="datepicker2" placeholder="Leave-Till"required />
              </div>
              <div class="col s12" style="padding-left:25px;margin-top:10px;margin-bottim:10px">
                <p>
                  <input type="checkbox" name="is_staion_leave" id="is_station" value='12' />
                  <label for="is_station">Station Leave</label>
                </p>
              </div>
              <div class="col s6">
                <i class="material-icons col s1" style="padding-top:20px">date_range</i>
                <input class="col s10 offset-s1 " type="text" name="station_from" id="datepicker3" placeholder="Leave-From" disabled required/>
              </div>
              <div class="col s6">
                <i class="material-icons col s1" style="padding-top:20px">date_range</i>
                <input class="col s10 offset-s1 "type="text" name="station_till"   id="datepicker4" placeholder="Leave-Till" disabled required/>
              </div>

              <div class="col s12">
                <div class="input-field col s12">
                  <label for="textarea1" class="col s2">Address</label>
                  <textarea id="textarea1" name="address" class="materialize-textarea col s12 offse-s1" disabled required></textarea>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field col s12">
                  <label for="textarea1" class="col s2">Purpose</label>
                  <textarea id="textarea1" name="purpose" class="materialize-textarea col s12 offse-s1" required></textarea>
                </div>
              </div>
              <div class="col 12">
                <div class="input-field col s6"  name="acad_respo">
                    <select name="acad_respo" required>
                      {% for user in list %}
                      <option value='{{user}}'>{{user}}</option>
                      {% endfor %}
                    </select>
                    <label>Academic Responsibility</label>
                  </div>
                  <div class="input-field col s6"  name="admin_respo">
                      <select name="admin_respo" required>
                        {% for user in list %}
                        <option value='{{user}}'>{{user}}</option>
                        {% endfor %}
                      </select>
                      <label>Admin Responsibility </label>
                  </div>
              </div>
              <div class="col s12" style="margin-top:30px">
                <button class="btn waves-effect waves-light purple accent-4 col s2 " style="Margin-left:25px;margin-bottom:100px"type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
                <button class="btn waves-effect waves-light purple accent-4 col s2 " style="Margin-left:25px;margin-bottom:100px" type="reset" name="action">Reset
                  <i class="material-icons right">clear</i>
                </button>
              <!-- No of days -->
            </div>
            </form>
            </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
       $('select').material_select();
      });

      $('#is_station').change(function(){
        if(this.checked)
        {
          $( "#textarea1" ).prop( "disabled", false )
          $( "#datepicker3" ).prop( "disabled", false )
          $( "#datepicker4" ).prop( "disabled", false )
        }
        else{
          $( "#textarea1" ).prop( "disabled", true )
          $( "#datepicker3" ).prop( "disabled", true )
          $( "#datepicker4" ).prop( "disabled", true )
        }
      });


    </script>
</body>
</html>
